@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap");

:root {
  --txt: #7a75d1;
}
html {
  background: #2f3341;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
}

header {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: manifest 1s ease-in-out;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  padding-right: 15px;
  background-color: #2e2f39;
  width: 70%;
  border-radius: 15px;
  border: var(--txt) solid 1px;
  overflow: hidden;
  box-shadow: 0 0 5px var(--txt);
}

.circle {
  width: 480px;
  height: 200px;
  position: absolute;
  left: 20px;
  border-radius: 50%;
  background: rgba(216, 234, 238, 10);
  background: linear-gradient(
    90deg,
    rgba(216, 234, 238, 1) 0%,
    rgba(158, 119, 224, 1) 50%,
    rgba(139, 150, 199, 1) 100%
  );
  opacity: 0.1;
  filter: blur(40px);
}

nav {
  display: flex;
  gap: 20px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo img {
  width: 50px;
}

header a {
  text-decoration: none;
  color: var(--txt);
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.contact-me {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.contact-me a {
  font-family: "GeistSans", sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: aliceblue;
  padding: 5px 10px;
  color: #2e2f39;
  border-radius: 13px;
  font-size: 15px;
  font-weight: 700;
  border: var(--txt) solid 2px;
}

.light-border {
  background: linear-gradient(transparent, #77a1cc, transparent);
  width: 500px;
  left: 14%;
  height: 95px;
  border-radius: 13px;
  position: absolute;
  top: 5px;
  opacity: 0.3;
  overflow: hidden;
  filter: blur(5px);
  animation: sliden 0.8s ease-in-out;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
  animation-direction: alternate;
}

#about {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.about img {
  border-bottom: var(--txt) solid 6px;
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px var(--txt);
  width: 524px;
}

.about span {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.about-txt {
  width: 70%;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  text-align: center;
  background-color: #2e2f39;
  color: #b0fec5;
  border-left: #b0fec5 solid 2px;
  border-right: #b0fec5 solid 2px;
}

.about span {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

.about-txt.II {
  color: #b1b0fe;
  border-left: #b1b0fe solid 2px;
  border-right: #b1b0fe solid 2px;
}

#stack {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 70%;
}

.stack-img img,
.project-img img {
  backdrop-filter: blur(10px);
  border-bottom: var(--txt) solid 6px;
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px var(--txt);
  width: 300px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}

.stack-div {
  width: 200px;
  height: 200px;
  background-color: rgba(46, 47, 57, 0.5);
  border-left: #7a75d1 solid 3px;
  border-right: #7a75d1 solid 3px;
  box-shadow: 0 0 5px var(--txt);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #817fff;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
}

.stack-div img {
  width: 100px;
  height: 100px;
}

.projects {
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-img img {
  width: 560px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  pointer-events: none;
  height: 500px;
  background-color: #2e2f39;
  text-align: center;
  border-radius: 15px;
  border-bottom: var(--txt) solid 4px;
  border-top: var(--txt) solid 4px;
  transition: height 0.5s, filter 0.5s;
  opacity: 0.9;
  filter: blur(3px);
  z-index: -1000;
}

.swiper-slide img {
  padding: 10px;
  background-color: rgba(122, 117, 209, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 95%;
  color: aliceblue;
}

.swiper-slide-active {
  height: 560px;
  background-color: #2e2f39;
  text-align: center;
  border-radius: 30px;
  border-bottom: var(--txt) solid 4px;
  border-top: var(--txt) solid 4px;
  opacity: 1;
  filter: blur(0);
  pointer-events: all;
}

.swiper-slide-div {
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.swiper-slide-img {
  display: flex;
  justify-content: center;
}

.blockchat,
.chronoscribe {
  position: relative;
}

.blockchat span,
.chronoscribe span {
  position: absolute;
  bottom: 5px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 76, 76, 0.4),
    transparent
  );
  padding: 5px 40px;
  color: rgb(240, 248, 255);
  font-family: "Roboto", sans-serif;
}

.chronoscribe span {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 240, 76, 0.4),
    transparent
  );
}

.swiper-slide-img.blockchat img,
.swiper-slide-img.chronoscribe img {
  padding: 0;
  width: 450%;
  height: 210px;
  object-fit: contain;
}

.swiper-slide-next,
.swiper-slide-prev {
  height: 520px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: aliceblue;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: var(--txt);
  width: 25px;
  border-radius: 20px;
}

.swiper-navigation-icon {
  color: aliceblue;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  right: 0;
}

.swiper {
  width: 100%;
  height: 640px;
}

.projects-txt {
  font-family: "Geist", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--txt);
}
.projects-txt.description {
  line-height: 1.2;
  font-size: 1.2rem;
  color: #b0fec5;
  font-weight: 600;
}
.projects-div-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-btn a {
  text-decoration: none;
  font-family: "GeistSans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: 5px 10px;
  color: #2e2f39;
  border-radius: 10px;
  font-size: 1.2rem;
  height: 30px;
  font-weight: 700;
  border: var(--txt) solid 2px;
}

@keyframes sliden {
  from {
    left: 14%;
    width: 500px;
  }

  50% {
    width: 800px;
  }

  to {
    left: calc(100% - 14% - 500px);
    width: 500px;
  }
}

@keyframes manifest {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 1600px) {
  @keyframes sliden {
    from {
      left: 14%;
      width: 200px;
    }

    50% {
      width: 400px;
    }

    to {
      left: calc(100% - 14% - 200px);
      width: 200px;
    }
  }
}

@media (max-width: 900px) {
  body * {
    display: none;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  .mobile * {
    display: flex;
  }
  .mobile span {
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 76, 76, 0.4),
      transparent
    );
    color: aliceblue;
    font-size: 4rem;
    text-align: center;
    padding: 80px 100px;
  }
}

@media (max-width: 700px) {
  .mobile span {
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 76, 76, 0.4),
      transparent
    );
    color: aliceblue;
    font-size: 3rem;
    text-align: center;
    padding: 50px;
  }
}
